*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden; 
    overflow-x: hidden; 
}
body {
    background-color: azure;
}

.navbar {
    background-color: rgb(184, 196, 244);
    border-radius: 8px;
}

.navbar ul {
    /* since we dont see any background color even after specifyinh, this is due to float left property. whenever we give float property, the element overflows from its parent element, to reverse that we write: */
    overflow: auto;
}

.navbar li {
    float: left;
    /* this is done to make all nav elements appear in a single horizontal line rather than a vertical list */
    list-style: none;
    /* to remove bullets of the list elements */
    margin: 13px 60px;
    /* vertical horizontal */
}

.navbar li a {
    padding: 3px 3px;
    text-decoration: none;
    /* in order to remove the underlines */
    color: black;
}

.navbar li a:hover {
    background-color: rgb(235, 125, 125);
    color: white;
}

.search {
    float: right;
    color: maroon;
    margin: 13px 60px;
    /* so that its placing is also symmetrical to other nav elements */
}

.navbar input {
    border: 3px solid rgb(57, 20, 92);
    border-radius: 9px;
    padding: 3px 10px;
    width: 130px;
}
header {
    border: 1px solid rgb(122, 176, 190);
    background-color: rgb(130, 189, 207);
    padding: 10px;
    border-radius: 5px;
}
.wrapper{
    height:260px;
    background:white;
    max-width: 80%;
    border-radius: 15px;
    padding: 16px 25px;
    transition: height 2.0s ease;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:82vh;
}
.wrapper.active{
    height: 530px;
}
.wrapper .form
{
    margin: 20px 0 20px;
}.form input{
    font-size: 18px;
    padding: 0 17px;
    /*border: 1px solid grey*/
}
.form button{
    background:rgb(55, 73, 73);
    color: whitesmoke;
    cursor: pointer;
    margin-top: 20px;
    font-size: 17px;
}
.wrapper .qr-code{
    padding: 33px 0;
    display: flex;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}
footer {
    text-align: center;
    padding: 3px 0;
    border-radius: 5px;
    background-color: rgb(184, 196, 244);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.author{
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

h3{
    font-family:fantasy;
    color: brown;
}

.call-number a {
    color: #821b1b;
    /* Set the color of the phone number */
    text-decoration: underline;
}